/App.class
/MarseillaisPainter.class
/MyTruck.class
/Graphics.class
/PainterFromMarseille.class
/Painter.class
/EnglishPainter.class
/EnglishPainterAdapter.class
/And.class
/BadFilter$Type.class
/BadFilter.class
/Filter.class
/Odd.class
/Predicate.class
/leq.class
